 <?xml version="1.0" encoding="UTF-8"?>
 <settings>
	<camera resW="1280" resH="720" fov="45">
		<look x="2.135" y="1.135" z="0.135" ></look>
		<pos x="2.2" y="1.2" z="0.2" ></pos>
	</camera>
	<spheres>
		<first refl="0.1" refr="0.5" radius="3.1" spec="64.0" IOR="1.0" colorR="127" colorB="255" colorG="0">
			<pos x="3.1" y="1.3" z="0.0" ></pos>
		</first>
		<second refl="0.0" refr="1.0" radius="5.3" spec="128.0" IOR="1.333" colorR="0" colorB="0" colorG="0">
			<pos x="6.1" y="1.0" z="2.0" ></pos>
		</second>
	</spheres>
</settings>