 <?xml version="1.0" encoding="UTF-8"?>
 <settings>
	<camera resW="1280" resH="720" fov="45">
		<look x="2.135" y="1.135" z="0.14" ></look>
		<pos x="0.0" y="0.0" z="0.0" ></pos>
	</camera>
	<spheres>
		<first refl="0.1" refr="0.5" radius="0.6" spec="64.0" IOR="1.0" colorR="127" colorB="255" colorG="0">
			<pos x="1.0" y="0" z="-3" ></pos>
		</first>
		<second refl="0.0" refr="1.0" radius="0.6" spec="128.0" IOR="1.333" colorR="0" colorB="0" colorG="0">
			<pos x="-2" y="1" z="-3.1" ></pos>
		</second>
	</spheres>
</settings>